* {
  font-family: Slabo, serif;
  box-sizing: border-box;
}

html {
  background-color: DodgerBlue;
  padding: 60px;
  margin: 0 auto;
  width: 100%;
}

header {
  margin-bottom: 30px;
}

header img {
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  width: 150px;
  display: block;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.search-form {
  width: 400px;
  height: auto;
  padding: 40px;
  background-color: Azure;
  display: inline-block;
}

.search-form h1,
.search-form p {
  text-align: center;
}

.search-form p {
  font-size: 12px;
}

.search-form p a {
  color: gray;
}

fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
  width: 320px;
}

fieldset label,
fieldset input,
fieldset button {
  font-size: 18px;
}

fieldset input {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

fieldset button {
  text-align: center;
}

/*#login a -> changes link color to white*/
#login, #login a {
  color: white;
  text-align: center;
}

#email, #pwd, #button {
  width: 320px;
  height: 55px;
  box-sizing: border-box;
  border: 2px solid AntiqueWhite;
  padding: 15px;
}

#button {
  margin-top: 15px;
  border: none;
  background-color: MediumSeaGreen;
}

#button:hover {
  background-color: DarkGreen;
}
